// These styles are applied for every page

@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/breakpoints";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

html {
  font-size: 75%; //1 rem = 12px

  @include respond(sm) {
    font-size: 81.25%; //1 rem = 13px
  }
  @include respond(md) {
    font-size: 87.5%; //1 rem = 14px
  }
  @include respond(xl) {
    font-size: 93.75%; // 1rem = 15px
  }
  @include respond(xxl) {
    font-size: 100; // 1rem = 16px
  }
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

h6 {
}

img {
  height: 100%;
  object-fit: cover;
  display: block;
}

link:active,
link:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

textarea {
  border-style: none;
  border-color: Transparent;
}

textarea:focus,
input:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(154, 154, 154, 0.4);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(133, 133, 133, 0.6);
}

.App {
  min-height: 100vh;
  background-color: $bg-main;
}

.bg {
  background-color: $bg-main !important;
}

.bg-2 {
  background-color: $bg-main-light !important;
}

.dark-bg {
  background-color: $dark-bg-main !important;
}

.dark-bg-2 {
  background-color: $dark-bg-main-light !important;
}

.dark-bg-3 {
  background-color: $dark-bg-main-light-2 !important;
}

.bg-third {
  background-color: #7c3aed !important;
}

.dark-bg-third {
  background-color: $dark-bg-third !important;
}

.text-clr {
  color: $txt-light !important;
}

.dark-text-clr {
  color: $dark-txt-light !important;
}

.dark-text-clr-2 {
  color: $dark-txt-dark !important;
}

.clr-selected {
  color: $clr-selected !important;
}

.txt-third {
  color: $txt-third;
}

.bg-red {
  background-color: rgb(118, 48, 48) !important;
}

.dark-border {
  border: 3px dashed $dark-txt-light !important;
}

.dark-border-1px-solid {
  border: 1px solid $border-light-gray !important;
}

.overlay-dark {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
