$letter-spacing-sm: 0.5;
$letter-spacing-md: 0.8;
$letter-spacing-x: 1;

$bg-main: #e2e8f0;
$bg-main-light: #f1f5f9;
$bg-white: #ffffff;
$bg-third: #7c3aed;
$bg-third-hover: #7137d6;
$bg-uncompleted: #fde68a;
$bg-completed: #a7f3d0;
$bg-selected: #ede9fe;
$clr-selected: #f43f5e;
$clr-selected-light: #ffe4e6;
$clr-selected-light-2: #fecdd3;

$txt-light: #454545;
$txt-third: #7c3aed;
$txt-uncompleted: #92454a;
$txt-completed: #065f65;

$dark-bg-main: #0f172a;
$dark-bg-main-light: #141e33;
$dark-bg-main-light-2: #1d293e;
$dark-bg-third: #492488;
$dark-txt-light: #e0e0e0;
$dark-txt-dark: #90a1b8;

$border-light-gray: rgb(128, 128, 128);

$transition-fast: 0.2s all;
