@import "../../../../sass/main.scss";

.match {
  cursor: pointer;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  &__currentPage {
    background-color: $bg-selected;
    color: $clr-selected !important;
    border-right: 4px solid $clr-selected;
  }

  &__currentPageDark {
    background-color: $dark-bg-main-light-2;
    color: $dark-txt-light !important;
    border-right: 4px solid $bg-main;
  }
}
