@import "../../sass/main.scss";

.textArea {
  &__label {
    background-color: inherit;
    font-family: sans-serif;
    color: rgb(52, 52, 52);
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  &__value {
    width: 100%;
    box-sizing: border-box;
    background-color: $bg-main-light;
    border: none;
    letter-spacing: 1.5px;
    border-radius: 10px;
    border-radius: 9px;
    padding: 1rem;
    resize: vertical;
    &:focus {
      outline: 2px solid $bg-third-hover;
    }
  }
}
