.close {
  &__button {
    display: inline-block;
    background-color: black;
    transform: rotate(45deg);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: inherit;
      transform: rotate(90deg);
      width: inherit;
      height: inherit;
    }
  }
}
