@import "../../../sass/main.scss";

.navigation {
  width: 93%;
  margin-inline: auto;
  margin-top: 1.5rem;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__menuAndSearch {
    align-items: center;
    display: flex;
  }

  &__menu {
    cursor: pointer;
    font-size: 1.4rem;

    @include respond(md) {
      margin-right: 3rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headerText {
    font-size: 1.3rem;
    color: $txt-light;
  }

  &__profile {
    height: inherit;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(md) {
      width: 250px;
    }
  }

  &__bellContainer {
    position: relative;
  }

  &__bellDot {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 40%;
    transform: translateX(-50%);
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
  }

  &__bell {
    cursor: pointer;
    font-size: 1.5rem;
    color: $txt-third;
    margin-right: 1rem;
  }

  &__currentTasksMenu {
    position: absolute;
    padding: 1rem;
    background-color: $bg-main-light;
    right: 70%;
    top: 130%;
    width: 180px;
    max-height: 80px;
    overflow-y: auto;
    border-radius: 9px;
    z-index: 1;
  }

  &__currentTasksHeader {
    color: $txt-light;
    margin-bottom: 0.8rem;
  }

  &__currentTasksItem {
    padding: 0.3rem 0;
    color: $txt-light;
  }

  &__userImg {
    cursor: pointer;
    border-radius: 50%;
    height: 100%;

    @include respond(md) {
      margin-left: 1rem;
    }
  }

  &__search {
    height: 50px;
    position: relative;
    border-radius: 9px;
    background-color: $bg-main-light;

    &:hover {
      outline: 2px solid $bg-third-hover;
    }
  }

  &__searchInput {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    font-size: 1.05rem;
  }

  &__searchIcon {
    color: rgba($dark-bg-main, 0.3);
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    right: 0rem;
    transform: translate(-50%, -50%);
  }

  &__matches {
    z-index: 1;
    max-height: 180px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    border-radius: 9px;
    margin-top: 0.5rem;
    background-color: $bg-main-light;

    @include respond(md) {
      width: 255px;
    }
  }

  &__match {
    cursor: pointer;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  &__resultsBtnContainer {
    width: 95%;
    margin-inline: auto;
    height: 40px;
    padding-bottom: 1rem;
  }

  &__resultsBtn {
    cursor: pointer;
    font-size: 1.05rem;
    border-radius: 5px;
    color: rgb(206, 5, 5);
    background-color: $clr-selected-light;
    height: 100%;
    width: 100%;
    border: none;
  }

  &__currentPage {
    background-color: $bg-selected;
    color: $clr-selected !important;
    border-right: 4px solid $clr-selected;
  }

  &__currentPageDark {
    background-color: $dark-bg-main-light-2;
    color: $dark-txt-light !important;
    border-right: 4px solid $bg-main;
  }
}
